a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: beige;
  color: #225a44;

  padding: 13px;
  &:hover,
  &:focus {
    color: rgb(222, 155, 28);
  }
  color: rgb(222, 255, 28);

  border-radius: 5px;
  padding: 10px 18px;
  display: flex;
  margin: 0;

  display: flex;
  align-items: center;
  gap: 15px;
}
